body{
    background: url(./images/body_bg.jpg)
}

body {
	color: #362e2b;
	text-align: center;
	font-size: 12px;
	font-family: Arial,Console,Verdana,Courier New;
}

#container{
	background: url(./images/head_bg.jpg) no-repeat center top;
}

#header {
	width: 980px;
	height: 280px;
	margin: 0 auto;
	padding: 70px 0 0 0;
	text-align: left;
}

.list {
margin: 20px 20px 0 20px;
}

.list_item {
	display: block;
	clear: both;
	background: url(../images/line_1.gif) repeat-x bottom;
}

.article_title {
	display: block;
	margin: 5px 0px;
	color: #000;
	font: normal 20px/30px 'Microsoft YaHei';
}

.article_description {
	font: normal 14px/24px Arial;
	text-indent: 2em;
}

.article_manage {
	padding: 5px 0;
	color: #999;
	font: normal 12px/24px Arial;
	text-align: right;
}

.article_title .ico {
display: inline-block;
width: 19px;
height: 19px;
margin: 0 2px 0 0;
}

.article_title .ico_type_Original {
background: url(./images/ico_Original.gif) no-repeat 0 0;
vertical-align: middle;
}

.link_title a {
	font-family: "宋体";
	color: #000;
}

.article_title h3 {
	font: normal 20px/30px 'Microsoft YaHei';
	display: inline;
	font: normal 20px/30px 'Microsoft YaHei';
	vertical-align: middle;
}

a {
color: #6a3906;
text-decoration: none;
}

#blog_title h1 {
	margin: 0 20px 0 0;
	color: #362e2b;
	font: bold 30px/30px 'Microsoft YaHei';
}

#blog_title h2 {
padding: 5px 0 0 0;
color: #362e2b;
font: normal 18px/30px 'Microsoft YaHei';
}

#blog_title a {
color: black;
font-family: "华文行楷","宋体";
}

#body {
	display: block;
	width: 960px;
	margin: 0 auto;
	padding: 9px;
	text-align: left;
}

#main {
	float: right;
	width: 740px;
	overflow: hidden;
	padding: 1px;
	border: solid 1px #e0c6a6;
	background: #fff;
}

#side {
	float: left;
	width: 200px;
	overflow: hidden;
	line-height: 120%;
}

.panel {
	padding: 1px;
	border: solid 1px #e0c6a6;
	margin: 0 0 10px 0;
	background: #fff;
}

.side ul {
margin: 0px;
padding: 0px;
}

.panel_head {
clear: both;
height: 24px;
padding: 0 10px;
background: url(../images/nav_bg.gif) repeat-x top;
color: #362e2b;
font: bold 12px/24px Arial;
text-indent: 5px;
}

.side .panel_body {
padding: 4px 5px;
}



